
.barra-superior {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  position: relative;
}

.botones-izq,
.botones-der {
  display: flex;
  gap: 10px;
}

.botones-der {
  margin-left: auto;
}

.titulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  pointer-events: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 5px 0;
}

.seccion-central {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 20px;
  gap: 40px;
}

.columna {
  width: 30%;
}

.imagen-centro {
  width: 30%;
  text-align: center;
}

.imagen-centro img {
  max-width: 100%;
  height: auto;
}
.card{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card p{
  cursor: pointer;
  height:100%;
  flex: 1;
  overflow: hidden;
  border-radius: 2px;
  transition: all.5s;
  background-color: rgb(255, 227, 227);
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p span{
  min-width: 13em;
  transform: rotate(-90deg);
  text-align:center;
  transition: all .5s;
}

.card p:hover{
  flex: 10;
}
.card p:hover span{
  transform: rotate(0deg);
}

.formulario {
  max-width: 500px;   
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.formulario label {
  font-weight: bold;
}

.formulario input,
.formulario textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.boton-derecha {
  display: flex;
  justify-content: flex-end;
}

.boton-derecha button {
  padding: 8px 20px;
  cursor: pointer;
}




